# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
ENV/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Python test/cache
.pytest_cache/
coverage.xml
htmlcov/
.coverage

# Logs
*.log

# Database files
database/*.db
*.sqlite3
*.db
*.db-journal

# dotenv / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Backup files
*~
